{% extends '../layouts/default.html' %}

{% block content %}
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            内容管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">版块详情</a>
            </li>
            <li class="active"> 活动 </li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">
        
    </div>
    <!--body wrapper end-->

    <!--footer section start-->

{% endblock %}